<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>AamarBazar</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo"><a href="index.html">AamarBazar</a></div>
            <div class="headerright">
                <a href="cart.html">Cart</a>
                <a href="Signup.html">Signup</a>
            </div>
        </header>
        <main>
            <div class="maincontent">
                <div class="card">
                    <img src="img/download.jpg" alt="shirtimg">
                    <div class="cardfooter">
                        <a href="product.html"><h2>silk contton shirt</h2></a>
                        <div class="rating">
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                        <div class="price">$120</div>
                    </div>
                </div>
                <div class="card">
                    <img src="img/download.jpg" alt="shirtimg">
                    <div class="cardfooter">
                        <a href="product.html"><h2>silk contton shirt</h2></a>
                        <div class="rating">
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                        <div class="price">$120</div>
                    </div>
                </div>
                <div class="card">
                    <img src="img/download.jpg" alt="shirtimg">
                    <div class="cardfooter">
                        <a href="product.html"><h2>silk contton shirt</h2></a>
                        <div class="rating">
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                        <div class="price">$120</div>
                    </div>
                </div>
                <div class="card">
                    <img src="img/download.jpg" alt="shirtimg">
                    <div class="cardfooter">
                        <a href="product.html"><h2>silk contton shirt</h2></a>
                        <div class="rating">
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                        <div class="price">$120</div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <h3>all are reserved</h3>
        </footer>
    </div>
</body>
</html>